if flash && flash.info
  #flash-message(style="width: 500px; margin: 0 auto;")
    .alert.alert-info.animated.fadeIn
      button.close(type='button', data-dismiss='alert') ×
      div= flash.info

if flash && flash.error
  #flash-message(style="width: 500px; margin: 0 auto;")
    .alert.alert-danger.animated.fadeIn
      button.close(type='button', data-dismiss='alert') ×
      div= flash.error

if flash && flash.success
  #flash-message(style="width: 500px; margin: 0 auto;")
    .alert.alert-success.animated.fadeIn
      button.close(type='button', data-dismiss='alert') ×
      div= flash.success
