extends ../layouts/default

block content
  .container
    form(name="login", class='form-signin' action="/coupon/postCoupon", method="POST")
      h2.form-signin-heading Enter Coupon code to spread the world
      label.sr-only(for='') Coupon code
      input#inputEmail.form-control(type='text', placeholder='Coupon Code', required='', autofocus='', name='coupon')
      br
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
