extends ../layouts/default

block content
  .container
    h2.form-signin-heading(style='text-align: center;') Enter Coupon code to spread the world, just once
    form(name="login", class='form-signin' action="/coupon/create", method="POST")
      label.sr-only(for='') Coupon code
      input#inputEmail.form-control(type='text', placeholder='Coupon Code', required='', autofocus='', name='coupon')
      br
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
      br
      p
        | Haven't registered yet, click
        a(href='/dicer/register') to register once.
